.big {
  font-size: 20px;
}

#Objection-open-form label {
  display: block;
  margin-bottom: 10px;
}

#Objection-open-form label input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#Objection-open-form-submit {
  margin-top : 20px;
  font-size: 20px;
}

.Objection-rejected-list li {
  list-style-type: none;
}
