.Objection-rejected-list {
  margin-top: 20px;
}

.Objection-rejected-list ul {
  padding: 0;
}

.Objection-rejected-list li {
  list-style-type: none;
}

.Objection-countdown {
  font-style: italic;
}

.Objection-finished {
  font-style: italic;
  font-size: 12px;
}

.Objections-succeeded,
.Objections-failed {
  margin: 20px auto;
}
