.Token p {
  margin: 10px 0 0 0;
}

.Token-token-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Token-header-flashmessage {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Token-ethereum-address-address a {
  word-wrap:break-word;
}

.Token-qr-code-show {
  cursor: pointer;
}

.Token-qr-code {
  margin: 10px auto;
  padding: 10px;
  max-width: 50%;
  background-color: white;
  color: #291b51;
}

.Token-qr-code p {
  margin-bottom: 30px;
}
