.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  color: black;
  background-color: white;
}

.App-header-logo {
  animation: App-header-logo-spin infinite 10s cubic-bezier(.50,0,.50,1);
  height: 80px;
}

@keyframes App-header-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.App-header-title {
  font-size: 1.5em;
}

.App-header p {
  margin-bottom: 0;
}

.App-content {
  padding: 20px;
  color: white;
  background-color: #291b51;
}

.App-content a {
  color: white;
}

.App-content a:hover {
  text-decoration: none;
}

.App-footer {
  padding: 20px;
  color: white;
  background-color: #0e6c3f;
}

.App-footer a {
  color: white;
}

.App-footer a:hover {
  text-decoration: none;
}
