.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s cubic-bezier(.50,0,.50,1);
  height: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.App-header p {
  margin-bottom: 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-intro-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-intro-buttons button {
  margin: 0 10px;
}

.container {
  padding: 20px;
}
.white {
  color: black;
  background-color: white;
}
.blue {
  color: white;
  background-color: #291b51;
}
.yellow {
  color: black;
  background-color: #fed709;
}
.green {
  color: white;
  background-color: #0e6c3f;
}

.yellow a {
  color: black;
}
