.App {
  text-align: center;
}

.App-header {
  padding: 20px;
}

.App-header-logo {
  animation: App-header-logo-spin infinite 10s cubic-bezier(.50,0,.50,1);
  height: 80px;
}

@keyframes App-header-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}

.App-header-title {
  font-size: 1.5em;
}

.App-header p {
  margin-bottom: 0;
}

.App-footer {
  padding: 20px;
}

.App-footer-links {
  padding: 0;
  text-align: center;
}

.App-footer-links li {
  margin: 0 10px;
  list-style-type: none;
  display: inline-block;
}
