/* Fonts */
@font-face {
  font-family: 'Akkmono';
  font-style:normal;
  src: local('Akkmono'), url(./assets/fonts/akkmono.eot) format('embedded-opentype'), url(./assets/fonts/akkmono.woff) format('woff');
}
