.pure-form fieldset {
  padding: unset;
}

input[type="text"] {
  text-align: left;
}

.green input[type="text"] {
  color: #0e6c3f;
}

.pure-control-group:last-child {
  margin: 0;
}

.pure-form .btn {
  margin: 20px 0 0 0;
}
